body{
    background-color: #f5fbff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
.toplink{
    background-color: #1e88e5;
    overflow: hidden;
}
.toplink a{
    color: #ffffff;
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.toplink a:hover{
    background-color: #e3f2fd;
    color: #1e88e5;
    text-decoration: none;
}
.banner{
    background-color: #64b5f6;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.row:after{
    display: flex;
    content: "";
    clear: both;
}
.left_side_bar{
    float: left;
    width: 15%;
    background-color: #e3f2fd;
    padding: 20px;
}
.content{
    float: left;
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    border-left:#90caf9 1px dashed;
    border-right:#90caf9 1px dashed;
}
.right_side_bar{
    float: left;
    width: 15%;
    background-color: #e3f2fd;
    padding: 20px;
}
.footer{
    background-color: #1e88e5;
    color: #ffffff;
    font-size: small;
    text-align: center;
    padding: 10px;
}
h1{
    /* text-transform: none; */
    text-transform: capitalize;
    color: #0d47a1;
}
h2{
    text-decoration: none;
    color: #1565c0;
    text-align: left;
}
p{
    text-align: justify;
    color: #333333;
}
.underline{
    text-decoration: underline;
}

.team_img{
    overflow: hidden;
    text-align: center;
}
.team_img img{
    width: 180px;
    height: 240px;
    padding: 5px;
    border-radius: 20%;
    /* object-fit: cover; */
}
.team_member{
    text-align: center;
    font-size: small;
    color: #1565c0;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

/* Table Design */
table{
    border-collapse: collapse;
    width: 80%;
    border: 1px #90caf9 solid;
    border-spacing: 0;
    margin: 0 auto;
}
table th{
    border: 1px #90caf9 solid;
    padding: 8px;
    text-align: left;
    background-color: #1e88e5;
    color: #ffffff;
}
table td{
    border: 1px #90caf9 solid;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #e3f2fd;
}
tbody tr:hover{
    background-color: #b3e7ff;
}
